:root {
    /* --primary-color: rgb(169, 169, 241);
    --secondary-color: rgb(129, 129, 201);
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0); */
    --primary-color: #f4f4f4;
    --secondary-color: #e8e8e8;
    --tertiary-color: #e1b4b4;
    --background-color: #e0e0e0;
    --text-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

input {
    border-radius: 13px;
    height: auto;
}

button{
    border-radius: 13px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    transition-duration: 0.3s;
    height: 26%;
    margin-top: 0;
}

.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#pg_title {
    text-align: center;
    width: 100vw;
    height: 9vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 270%;
    font-family: 'Roboto', sans-serif;
}

.header a {
    font-size: 100%;
    transition-duration: 0.2s;
}


.header a:hover {
    font-size: 115%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: -5%;
    width: 25%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--secondary-color);
    border-radius: 18px;
}

.login-form button {
    width: 18%;
    height: 12%;
}

.task-form {
    height: 18vh !important;
    top: 16% !important;
    right: 2.5% !important;
    background-color: #e8e8e875;
    border-radius: 10px;
    padding: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute !important;
}

.task-form button {
    width: 25%;
    height: 18%;
}

#log_form_end {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
    margin: 0 auto;
    height: 6vh;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.left-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    background-color: var(--secondary-color);
    height: 100vh;
    position: fixed;
    min-width: 110px;
}
.left-pane::before{
    content: " ";
    position: absolute;
    top: -14vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
}

.main-content {
    margin-left: 10%;
}

#task-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -5%;
    /* position: fixed; */
}

#task-item {
    display: flex;
    align-items: center;
    width: auto;
    height: 10vh;
    font-family: 'Roboto', sans-serif;
    list-style-type:disc;
}

li#task-item::before { 
    content: "•"; margin-right: 10px; 
}